In [36]:
import pandas as pd

df_all = pd.read_json('/content/video_games_newer_all_data_with_rawg_final_for_train.json')
df_all.head(2)

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,screenshots_count,achievements_count,...,PlayStation,PC,GameCube,Android,Game Boy,PS Vita,NES,PlayStation 4,Xbox One,Misc_Platform
0,2002,0.49,0.38,0.26,0.13,1.27,8.5,35,18,0,...,0,0,0,0,0,0,0,0,0,0
1,2002,0.23,0.18,0.20,0.06,0.68,8.9,18,29,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df_all.columns

Index(['Year_of_Release', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales',
       'Global_Sales', 'User_Score', 'added', 'screenshots_count',
       'achievements_count', 'reddit_count', 'twitch_count', 'youtube_count',
       'ratings_count', 'suggestions_count', 'additions_count',
       'game_series_count', 'reviews_count', 'Adventure', 'Puzzle',
       'Educational', 'Family', 'Platformer', 'Racing', 'Casual', 'RPG',
       'Shooter', 'Arcade', 'Fighting', 'Card', 'Massively Multiplayer',
       'Misc_Genre', 'Strategy', 'Sports', 'Board Games', 'Simulation',
       'Action', 'Indie', 'Xbox 360', 'Wii', 'Nintendo DS', 'Xbox',
       'PlayStation 3', 'Nintendo 3DS', 'Game Boy Color', 'PlayStation 5',
       'iOS', 'PlayStation 2', 'Nintendo Switch', 'Wii U', 'Xbox Series S/X',
       'Game Boy Advance', 'Nintendo 64', 'PSP', 'PlayStation', 'PC',
       'GameCube', 'Android', 'Game Boy', 'PS Vita', 'NES', 'PlayStation 4',
       'Xbox One', 'Misc_Platform'],
      dtype='object')

In [35]:
df_all.loc[:5, 'Year_of_Release' : 'reviews_count']

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,screenshots_count,achievements_count,reddit_count,twitch_count,youtube_count,ratings_count,suggestions_count,additions_count,game_series_count,reviews_count
0,2002,0.49,0.38,0.26,0.13,1.27,5,35,18,0,0,0,0,12,547,0,8,12
1,2002,0.23,0.18,0.20,0.06,0.68,5,18,29,0,0,0,0,4,446,0,8,4
2,2002,0.14,0.11,0.17,0.04,0.46,5,17,20,0,0,0,0,4,529,0,8,4
3,2000,0.51,0.35,0.00,0.06,0.92,1,97,9,0,0,0,0,33,361,0,22,33
4,2008,0.08,0.00,0.00,0.01,0.08,0,1,0,0,0,0,0,0,0,0,0,0
5,2008,0.12,0.52,0.00,0.02,0.66,1,5,4,0,0,0,0,0,61,0,0,0

In [23]:
users_scores = df_all['User_Score']

max = users_scores.max()
min = users_scores.min()

print(f'Max : {max}')
print(f'Min : {min}')
print(f'Len : {len(users_scores)}')

Max : 9.6999998093
Min : 0.0
Len : 3802

In [29]:

for i in range(0, 20):
  res = df_all[ (df_all['User_Score'] >= (i / 2)) & (df_all['User_Score'] < (i/2) + 0.5) ]
  print(f'Range is : {(i / 2)}-{(i / 2)+0.5} : {len(res)}')

Range is : 0.0-0.5 : 1
Range is : 0.5-1.0 : 3
Range is : 1.0-1.5 : 5
Range is : 1.5-2.0 : 2
Range is : 2.0-2.5 : 16
Range is : 2.5-3.0 : 27
Range is : 3.0-3.5 : 37
Range is : 3.5-4.0 : 48
Range is : 4.0-4.5 : 61
Range is : 4.5-5.0 : 88
Range is : 5.0-5.5 : 122
Range is : 5.5-6.0 : 187
Range is : 6.0-6.5 : 288
Range is : 6.5-7.0 : 370
Range is : 7.0-7.5 : 524
Range is : 7.5-8.0 : 649
Range is : 8.0-8.5 : 713
Range is : 8.5-9.0 : 507
Range is : 9.0-9.5 : 148
Range is : 9.5-10.0 : 6

In [37]:
#PREPARE DATA FOR CLASSIFICATION
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

import numpy as np

tmp = df_all

tmp['User_Score'] = tmp['User_Score'].astype(float)
tmp['User_Score'] = np.where(tmp['User_Score'] < 6.0, 0, tmp['User_Score'])
tmp['User_Score'] = np.where((6.0 <= tmp['User_Score']) & ( tmp['User_Score'] < 7.0), 1 ,tmp['User_Score'])
tmp['User_Score'] = np.where((7.0 <= tmp['User_Score']) & ( tmp['User_Score'] < 7.5), 2 ,tmp['User_Score'])
tmp['User_Score'] = np.where((7.5 <= tmp['User_Score']) & ( tmp['User_Score'] < 8.0), 3 ,tmp['User_Score'])
tmp['User_Score'] = np.where((8.0 <= tmp['User_Score']) & ( tmp['User_Score'] < 8.5), 4 ,tmp['User_Score'])
tmp['User_Score'] = np.where(8.5 <= tmp['User_Score'] , 5 ,tmp['User_Score'])
tmp['User_Score'] = tmp['User_Score'].astype('category').cat.codes
#training, test = train_test_split(tmp, test_size = 0.25, random_state = 32)
#features = training.drop(['User_Score'], axis = 1).columns

# training_features, training_labels = training[features], training['User_Score']
# test_features, test_labels = test[features], test['User_Score']

In [38]:
tmp[['Year_of_Release','added', 'screenshots_count', 
     'achievements_count',	'reddit_count',	'twitch_count',	'youtube_count',
     'ratings_count',	'suggestions_count',	'additions_count',
     'game_series_count',	'reviews_count']] = StandardScaler().fit_transform(tmp[['Year_of_Release','added', 'screenshots_count', 
     'achievements_count',	'reddit_count',	'twitch_count',	'youtube_count',
     'ratings_count',	'suggestions_count',	'additions_count',
     'game_series_count',	'reviews_count']])

In [40]:
tmp.loc[:5, 'Year_of_Release' : 'reviews_count']

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,screenshots_count,achievements_count,reddit_count,twitch_count,youtube_count,ratings_count,suggestions_count,additions_count,game_series_count,reviews_count
0,-1.220093,0.49,0.38,0.26,0.13,1.27,5,-0.343627,-0.239689,-0.398182,-0.173897,-0.666494,-0.598946,-0.295154,1.048865,-0.228493,0.345508,-0.295242
1,-1.220093,0.23,0.18,0.20,0.06,0.68,5,-0.354023,-0.026918,-0.398182,-0.173897,-0.666494,-0.598946,-0.315502,0.533928,-0.228493,0.345508,-0.315419
2,-1.220093,0.14,0.11,0.17,0.04,0.46,5,-0.354634,-0.201003,-0.398182,-0.173897,-0.666494,-0.598946,-0.315502,0.957094,-0.228493,0.345508,-0.315419
3,-1.683209,0.51,0.35,0.00,0.06,0.92,1,-0.305712,-0.413774,-0.398182,-0.173897,-0.666494,-0.598946,-0.241739,0.100565,-0.228493,1.926687,-0.242277
4,0.169253,0.08,0.00,0.00,0.01,0.08,0,-0.364419,-0.587858,-0.398182,-0.173897,-0.666494,-0.598946,-0.325677,-1.739952,-0.228493,-0.558023,-0.325508
5,0.169253,0.12,0.52,0.00,0.02,0.66,1,-0.361972,-0.510487,-0.398182,-0.173897,-0.666494,-0.598946,-0.325677,-1.428951,-0.228493,-0.558023,-0.325508

In [44]:
tmp = tmp.drop(columns = ['Year_of_Release', 'screenshots_count', 'additions_count', 'game_series_count'])

In [45]:
tmp.loc[:5, 'NA_Sales' : 'reviews_count']

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,achievements_count,reddit_count,twitch_count,youtube_count,ratings_count,suggestions_count,reviews_count
0,0.49,0.38,0.26,0.13,1.27,5,-0.343627,-0.398182,-0.173897,-0.666494,-0.598946,-0.295154,1.048865,-0.295242
1,0.23,0.18,0.20,0.06,0.68,5,-0.354023,-0.398182,-0.173897,-0.666494,-0.598946,-0.315502,0.533928,-0.315419
2,0.14,0.11,0.17,0.04,0.46,5,-0.354634,-0.398182,-0.173897,-0.666494,-0.598946,-0.315502,0.957094,-0.315419
3,0.51,0.35,0.00,0.06,0.92,1,-0.305712,-0.398182,-0.173897,-0.666494,-0.598946,-0.241739,0.100565,-0.242277
4,0.08,0.00,0.00,0.01,0.08,0,-0.364419,-0.398182,-0.173897,-0.666494,-0.598946,-0.325677,-1.739952,-0.325508
5,0.12,0.52,0.00,0.02,0.66,1,-0.361972,-0.398182,-0.173897,-0.666494,-0.598946,-0.325677,-1.428951,-0.325508

In [46]:
training, test = train_test_split(tmp, test_size = 0.25, random_state = 32)
features = training.drop(['User_Score'], axis = 1).columns
training_features, training_labels = training[features], training['User_Score']
test_features, test_labels = test[features], test['User_Score']

In [47]:
#SGD CLASSIFICATION WITH HALVING GRID SEARCH

loss = ['hinge', 'log', 'modified_huber', 'squared_hinge',
'perceptron'] 
penalty = ['l1', 'l2', 'elasticnet'] 
alpha = [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000] 
learning_rate = ['constant', 'optimal', 'invscaling', 'adaptive'] 
class_weight = [{1:0.5, 0:0.5}, {1:0.4, 0:0.6}, {1:0.6, 0:0.4}, {1:0.7, 0:0.3}] 
eta0 = [1, 10, 100] 
param_distributions = dict(loss=loss, 
penalty=penalty, 
alpha=alpha, 
learning_rate=learning_rate, 
class_weight=class_weight, 
eta0=eta0) 




from sklearn.linear_model import SGDClassifier 
from sklearn.experimental import enable_halving_search_cv
from sklearn.model_selection import HalvingGridSearchCV
sgd = SGDClassifier(max_iter=50) 
random = HalvingGridSearchCV(estimator=sgd, 
param_grid=param_distributions, 
scoring='f1_macro', 
verbose=1, n_jobs=-1) 
random_result = random.fit(training_features, training_labels) 
print('Best Score: ', random_result.best_score_) 
print('Best Params: ', random_result.best_params_)

n_iterations: 4
n_required_iterations: 8
n_possible_iterations: 4
min_resources_: 60
max_resources_: 2851
aggressive_elimination: False
factor: 3
----------
iter: 0
n_candidates: 5760
n_resources: 60
Fitting 5 folds for each of 5760 candidates, totalling 28800 fits
----------
iter: 1
n_candidates: 1920
n_resources: 180
Fitting 5 folds for each of 1920 candidates, totalling 9600 fits
----------
iter: 2
n_candidates: 640
n_resources: 540
Fitting 5 folds for each of 640 candidates, totalling 3200 fits
----------
iter: 3
n_candidates: 214
n_resources: 1620
Fitting 5 folds for each of 214 candidates, totalling 1070 fits
Best Score:  0.23222349426051805
Best Params:  {'alpha': 0.0001, 'class_weight': {1: 0.5, 0: 0.5}, 'eta0': 10, 'learning_rate': 'invscaling', 'loss': 'log', 'penalty': 'l1'}

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_stochastic_gradient.py:163: FutureWarning: The loss 'log' was deprecated in v1.1 and will be removed in version 1.3. Use `loss='log_loss'` which is equivalent.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_stochastic_gradient.py:702: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

In [48]:
#READ DATA REGRESSION
import pandas as pd

df_all = pd.read_json('/content/video_games_newer_all_data_with_rawg_final_for_train.json')
df_all.head(2)

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,User_Score,added,screenshots_count,achievements_count,...,PlayStation,PC,GameCube,Android,Game Boy,PS Vita,NES,PlayStation 4,Xbox One,Misc_Platform
0,2002,0.49,0.38,0.26,0.13,1.27,8.5,35,18,0,...,0,0,0,0,0,0,0,0,0,0
1,2002,0.23,0.18,0.20,0.06,0.68,8.9,18,29,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
df_all[['Year_of_Release','added', 'screenshots_count', 
     'achievements_count',	'reddit_count',	'twitch_count',	'youtube_count',
     'ratings_count',	'suggestions_count',	'additions_count',
     'game_series_count',	'reviews_count', 'User_Score']] = StandardScaler().fit_transform(df_all[['Year_of_Release','added', 'screenshots_count', 
     'achievements_count',	'reddit_count',	'twitch_count',	'youtube_count',
     'ratings_count',	'suggestions_count',	'additions_count',
     'game_series_count',	'reviews_count','User_Score']])

In [50]:
#PREPARE DATA FOR REGRESSION
from sklearn.linear_model import SGDRegressor
training, test = train_test_split(df_all, test_size = 0.25, random_state = 32)

features = training.drop(['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], axis = 1).columns

training_features, training_labels = training[features], training['NA_Sales']
test_features, test_labels = test[features], test['NA_Sales']

pipeline = Pipeline([('regressor', SGDRegressor())])

loss = ['squared_error', 'huber', 'epsilon_insensitive', 'squared_epsilon_insensitive'] 
penalty = ['l1', 'l2', 'elasticnet'] 
alpha = [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000] 
learning_rate = ['constant', 'optimal', 'invscaling', 'adaptive'] 
#class_weight = [{1:0.5, 0:0.5}, {1:0.4, 0:0.6}, {1:0.6, 0:0.4}, {1:0.7, 0:0.3}] 
eta0 = [1, 10, 100] 
param_distributions = {
'regressor__loss' : loss, 
'regressor__penalty' : penalty, 
'regressor__alpha' : alpha, 
'regressor__learning_rate' : learning_rate,
'regressor__eta0' : eta0
}
#class_weight=class_weight, 
#eta0=eta0)

In [51]:
#SGD REGRESSOR WITH HALVING GRID SEARCH


from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, max_error, explained_variance_score, mean_absolute_percentage_error
from sklearn.experimental import enable_halving_search_cv
from sklearn.model_selection import HalvingGridSearchCV
# Step 1: Initialise and fit SGD regression model

random = HalvingGridSearchCV(estimator=pipeline, 
param_grid=param_distributions, 
scoring='neg_mean_squared_error', 
verbose=1, n_jobs=-1) 
random_result = random.fit(training_features, training_labels)

n_iterations: 6
n_required_iterations: 7
n_possible_iterations: 6
min_resources_: 10
max_resources_: 2851
aggressive_elimination: False
factor: 3
----------
iter: 0
n_candidates: 1152
n_resources: 10
Fitting 5 folds for each of 1152 candidates, totalling 5760 fits
----------
iter: 1
n_candidates: 384
n_resources: 30
Fitting 5 folds for each of 384 candidates, totalling 1920 fits
----------
iter: 2
n_candidates: 128
n_resources: 90
Fitting 5 folds for each of 128 candidates, totalling 640 fits
----------
iter: 3
n_candidates: 43
n_resources: 270
Fitting 5 folds for each of 43 candidates, totalling 215 fits
----------
iter: 4
n_candidates: 15
n_resources: 810
Fitting 5 folds for each of 15 candidates, totalling 75 fits
----------
iter: 5
n_candidates: 5
n_resources: 2430
Fitting 5 folds for each of 5 candidates, totalling 25 fits

In [52]:
print(random_result.best_params_)
print(random_result.best_score_)

{'regressor__alpha': 1, 'regressor__eta0': 100, 'regressor__learning_rate': 'optimal', 'regressor__loss': 'squared_error', 'regressor__penalty': 'elasticnet'}
-1.99704715724639