<a href="https://colab.research.google.com/github/Voland24/Videogame-Price-prediction-via-ML/blob/main/SIAP_Projekat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


pd.set_option("display.max_columns", None)
pd.set_option("max_rows", None)

df = pd.read_csv("/content/all_games.csv")

df.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [2]:
df1 = pd.read_csv("/content/Video_Game_Sales_as_of_Jan_2017.csv")

df1.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN

In [3]:
df.rename(columns = {"name":"Name", "platform":"Platform"}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          18800 non-null  object
 1   Platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17416 entries, 0 to 17415
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             17416 non-null  object
 1   Platform         17416 non-null  object
 2   Year_of_Release  17408 non-null  float64
 3   Genre            17416 non-null  object
 4   Publisher        17415 non-null  object
 5   NA_Sales         17416 non-null  float64
 6   EU_Sales         17416 non-null  float64
 7   JP_Sales         17416 non-null  float64
 8   Other_Sales      17416 non-null  float64
 9   Global_Sales     17416 non-null  float64
 10  Critic_Score     8336 non-null   float64
 11  Critic_Count     8336 non-null   float64
 12  User_Score       7798 non-null   float64
 13  User_Count       7798 non-null   float64
 14  Rating           10252 non-null  object
dtypes: float64(10), object(5)
memory usage: 2.0+ MB

In [5]:
print(f"len of first {df[df.columns[0]].count()}")
print(f"len of second {df1[df1.columns[0]].count()}")

len of first 18800
len of second 17416

In [12]:
df1['Platform'] = df1['Platform'].replace(['N64','PS', 'PS3', 'DC','X360','Wii',
                                          'XOne','PC','PS2','PS4','GC','X','WiiU',
                                          'GBA','3DS','DS','PSV','PSP'], 
       [' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' DS',
       ' PlayStation Vita', ' PSP',])

In [50]:
df_combined = pd.merge(df, df1, how = 'inner', on=["Name", "Platform"])

In [53]:
df_combined.head()

# print(f"len of combined {df_combined[df_combined.columns[0]].count()}")

,Name,Platform,release_date,summary,meta_score,user_review,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1,1998.0,Action,Nintendo,4.10,1.89,1.45,0.16,7.60,NaN,NaN,NaN,NaN,NaN
1,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7,2008.0,Action,Take-Two Interactive,4.77,3.70,0.44,1.61,10.51,98.0,64.0,7.5,2849.0,M
2,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.9,202.0,T
3,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9,2008.0,Action,Take-Two Interactive,6.77,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2958.0,M
4,Super Mario Galaxy,Wii,"November 12, 2007",[Metacritic's 2007 Wii Game of the Year] The u...,97,9.1,2007.0,Platform,Nintendo,6.06,3.36,1.20,0.74,11.36,97.0,73.0,8.9,2159.0,E

In [7]:
df['Name'].nunique()

12254

In [8]:
df1['Name'].nunique()

12080

In [10]:
df['Platform'].unique()

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

In [11]:
df1['Platform'].unique()

array(['Wii', 'NES', 'G', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'X', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [16]:
df_combined.loc[0]

Name                            The Legend of Zelda: Ocarina of Time
Platform                                                 Nintendo 64
release_date                                       November 23, 1998
summary            As a young boy, Link is tricked by Ganondorf, ...
meta_score                                                        99
user_review                                                      9.1
Year_of_Release                                               1998.0
Genre                                                         Action
Publisher                                                   Nintendo
NA_Sales                                                         4.1
EU_Sales                                                        1.89
JP_Sales                                                        1.45
Other_Sales                                                     0.16
Global_Sales                                                     7.6
Critic_Score                                                     NaN
Critic_Count                                                     NaN
User_Score                                                       NaN
User_Count                                                       NaN
Rating                                                           NaN
Name: 0, dtype: object

In [34]:
import requests, pprint, json
games_arr = []
for i in range(61):
  url = (f'https://steamspy.com/api.php?request=all&page={i}')
  response = requests.get(url)
  payload = response.json()
  games_arr.append(payload)

games_arr = [game_dict[key] for game_dict in games_arr for key in game_dict]

print(games_arr[:10])

[{'appid': 570, 'name': 'Dota 2', 'developer': 'Valve', 'publisher': 'Valve', 'score_rank': '', 'positive': 1596223, 'negative': 333113, 'userscore': 0, 'owners': '200,000,000 .. 500,000,000', 'average_forever': 38179, 'average_2weeks': 1530, 'median_forever': 904, 'median_2weeks': 754, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 470308}, {'appid': 730, 'name': 'Counter-Strike: Global Offensive', 'developer': 'Valve, Hidden Path Entertainment', 'publisher': 'Valve', 'score_rank': '', 'positive': 6129357, 'negative': 805515, 'userscore': 0, 'owners': '50,000,000 .. 100,000,000', 'average_forever': 29163, 'average_2weeks': 864, 'median_forever': 6238, 'median_2weeks': 346, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 1035784}, {'appid': 578080, 'name': 'PUBG: BATTLEGROUNDS', 'developer': 'KRAFTON, Inc.', 'publisher': 'KRAFTON, Inc.', 'score_rank': '', 'positive': 1220042, 'negative': 920249, 'userscore': 0, 'owners': '50,000,000 .. 100,000,000', 'average_forever': 22258, 'average_2weeks': 904, 'median_forever': 6553, 'median_2weeks': 249, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 376202}, {'appid': 1063730, 'name': 'New World', 'developer': 'Amazon Games', 'publisher': 'Amazon Games', 'score_rank': '', 'positive': 175311, 'negative': 75704, 'userscore': 0, 'owners': '50,000,000 .. 100,000,000', 'average_forever': 7684, 'average_2weeks': 1192, 'median_forever': 3858, 'median_2weeks': 1123, 'price': '3999', 'initialprice': '3999', 'discount': '0', 'ccu': 22665}, {'appid': 1172470, 'name': 'Apex Legends', 'developer': 'Respawn Entertainment', 'publisher': 'Electronic Arts', 'score_rank': '', 'positive': 493199, 'negative': 97686, 'userscore': 0, 'owners': '50,000,000 .. 100,000,000', 'average_forever': 7187, 'average_2weeks': 977, 'median_forever': 791, 'median_2weeks': 404, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 361147}, {'appid': 440, 'name': 'Team Fortress 2', 'developer': 'Valve', 'publisher': 'Valve', 'score_rank': '', 'positive': 876955, 'negative': 58247, 'userscore': 0, 'owners': '50,000,000 .. 100,000,000', 'average_forever': 9350, 'average_2weeks': 2060, 'median_forever': 341, 'median_2weeks': 139, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 107449}, {'appid': 271590, 'name': 'Grand Theft Auto V', 'developer': 'Rockstar North', 'publisher': 'Rockstar Games', 'score_rank': '', 'positive': 1293194, 'negative': 217789, 'userscore': 0, 'owners': '50,000,000 .. 100,000,000', 'average_forever': 13490, 'average_2weeks': 740, 'median_forever': 5729, 'median_2weeks': 192, 'price': '2998', 'initialprice': '2998', 'discount': '0', 'ccu': 121654}, {'appid': 304930, 'name': 'Unturned', 'developer': 'Smartly Dressed Games', 'publisher': 'Smartly Dressed Games', 'score_rank': '', 'positive': 461691, 'negative': 42906, 'userscore': 0, 'owners': '20,000,000 .. 50,000,000', 'average_forever': 7199, 'average_2weeks': 3118, 'median_forever': 323, 'median_2weeks': 263, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 69332}, {'appid': 550, 'name': 'Left 4 Dead 2', 'developer': 'Valve', 'publisher': 'Valve', 'score_rank': '', 'positive': 691179, 'negative': 17625, 'userscore': 0, 'owners': '20,000,000 .. 50,000,000', 'average_forever': 1981, 'average_2weeks': 424, 'median_forever': 530, 'median_2weeks': 109, 'price': '999', 'initialprice': '999', 'discount': '0', 'ccu': 27389}, {'appid': 252490, 'name': 'Rust', 'developer': 'Facepunch Studios', 'publisher': 'Facepunch Studios', 'score_rank': '', 'positive': 771825, 'negative': 116561, 'userscore': 0, 'owners': '20,000,000 .. 50,000,000', 'average_forever': 21327, 'average_2weeks': 1962, 'median_forever': 2632, 'median_2weeks': 1058, 'price': '3999', 'initialprice': '3999', 'discount': '0', 'ccu': 97584}]

In [37]:
print(len(games_arr))
print(games_arr[0])

with open('/content/steamspy_all.json', 'w') as file:
  json.dump(games_arr, file)

60811
{'appid': 570, 'name': 'Dota 2', 'developer': 'Valve', 'publisher': 'Valve', 'score_rank': '', 'positive': 1596223, 'negative': 333113, 'userscore': 0, 'owners': '200,000,000 .. 500,000,000', 'average_forever': 38179, 'average_2weeks': 1530, 'median_forever': 904, 'median_2weeks': 754, 'price': '0', 'initialprice': '0', 'discount': '0', 'ccu': 470308}

In [41]:
df_steam = pd.read_json('/content/steamspy_all.json')

In [42]:
df_steam.head()

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
0,570,Dota 2,Valve,Valve,,1596223,333113,0,"200,000,000 .. 500,000,000",38179,1530,904,754,0.0,0.0,0.0,470308
1,730,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,,6129357,805515,0,"50,000,000 .. 100,000,000",29163,864,6238,346,0.0,0.0,0.0,1035784
2,578080,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",,1220042,920249,0,"50,000,000 .. 100,000,000",22258,904,6553,249,0.0,0.0,0.0,376202
3,1063730,New World,Amazon Games,Amazon Games,,175311,75704,0,"50,000,000 .. 100,000,000",7684,1192,3858,1123,3999.0,3999.0,0.0,22665
4,1172470,Apex Legends,Respawn Entertainment,Electronic Arts,,493199,97686,0,"50,000,000 .. 100,000,000",7187,977,791,404,0.0,0.0,0.0,361147

In [44]:
df_combined_steam = pd.merge(df_combined, df_steam, how = 'inner', left_on = 'Name', right_on = 'name')

df_combined_steam.head()

print(f"len of combined {df_combined_steam[df_combined_steam.columns[0]].count()}")

len of combined 1021

In [58]:
ser = set(df['Name']) & set(df_steam['name'])
print(len(ser))

3501