In [2]:
import pandas as pd
import numpy as np

#pd.set_option("max_rows", None)

df_newer_games = pd.read_csv('/content/Video_Games_newer_all_data.csv')
df_games_igdb = pd.read_json('/content/igdb_games_data.json')
df_video_ids = pd.read_json('/content/igdb_games_video_data.json')

rawg_json_data_slug = pd.read_json('/content/rawg_games_details_data_1.json')
rawg_json_data_self_slug = pd.read_json('/content/rawg_games_details_data_2.json')

len(df_newer_games)

16719

In [26]:
df_newer_games.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
rawg_json_data_slug.head(10)

,id,slug,name,name_original,description,metacritic,metacritic_platforms,released,tba,updated,...,platforms,stores,developers,genres,tags,publishers,esrb_rating,clip,description_raw,community_rating
0,25057,wii-sports,Wii Sports,Wii Sports,<p>This is what video games should be: fun for...,76.0,"[{'metascore': 76, 'url': 'https://www.metacri...",2006-11-19,False,2023-02-19T20:34:26,...,"[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 29436, 'url': '', 'store': {'id': 6, '...",[],"[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,This is what video games should be: fun for ev...,NaN
1,25080,super-mario-bros,Super Mario Bros.,Super Mario Bros.,<p>Mario and Luigi star in their first ever Mu...,NaN,[],1985-09-13,False,2023-02-24T18:30:20,...,"[{'platform': {'id': 24, 'name': 'Game Boy Adv...","[{'id': 29465, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,Mario and Luigi star in their first ever Mushr...,NaN
2,24761,mario-kart-wii,Mario Kart Wii,Mario Kart Wii,,82.0,"[{'metascore': 82, 'url': 'https://www.metacri...",2008-04-27,False,2023-02-11T10:20:31,...,"[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 29113, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 1, 'name': 'Racing', 'slug': 'racing',...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,"Drivers, start your engines!\n\nThe worldwide ...",NaN
3,26002,wii-sports-resort,Wii Sports Resort,Wii Sports Resort,"<p>Wii Sports Resort is an immersive, expansiv...",80.0,"[{'metascore': 80, 'url': 'https://www.metacri...",2009-07-26,False,2023-01-15T19:04:16,...,"[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 30486, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,"Wii Sports Resort is an immersive, expansive a...",NaN
4,24933,new-super-mario-bros,New Super Mario Bros.,New Super Mario Bros.,<p>Princess Peach™ has been kidnapped by Bowse...,89.0,"[{'metascore': 89, 'url': 'https://www.metacri...",2006-05-15,False,2023-02-11T10:18:03,...,"[{'platform': {'id': 10, 'name': 'Wii U', 'slu...","[{'id': 29308, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 5816, 'name': 'console', 'slug': 'cons...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,Princess Peach™ has been kidnapped by Bowser J...,NaN
5,24901,wii-play,Wii Play,Wii Play,"<p>Bundled with a Wii Remote, Wii Play offers ...",58.0,"[{'metascore': 58, 'url': 'https://www.metacri...",2007-02-12,False,2023-02-19T20:34:31,...,"[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 29272, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 19, 'name': 'Family', 'slug': 'family'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,"Bundled with a Wii Remote, Wii Play offers a l...",NaN
6,24493,new-super-mario-bros-wii,New Super Mario Bros. Wii,New Super Mario Bros. Wii,<p>Run and jump to your way to fun with Mario™...,87.0,"[{'metascore': 87, 'url': 'https://www.metacri...",2009-11-12,False,2023-02-19T20:35:09,...,"[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 28817, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 83, 'name': 'Platformer', 'slug': 'pla...","[{'id': 7, 'name': 'Multiplayer', 'slug': 'mul...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,Run and jump to your way to fun with Mario™ & ...,NaN
7,286110,duck-hunt,Duck Hunt,Duck Hunt,Information\r\n<p>I made this game a while bac...,NaN,[],2019-01-20,False,2019-08-28T23:18:26,...,"[{'platform': {'id': 4, 'name': 'PC', 'slug': ...","[{'id': 285089, 'url': '', 'store': {'id': 9, ...","[{'id': 113115, 'name': 'Optical Raze', 'slug'...","[{'id': 2, 'name': 'Shooter', 'slug': 'shooter...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...",[],None,NaN,Information\nI made this game a while back and...,0.0
8,23943,mario-kart-ds,Mario Kart DS,Mario Kart DS,<p>Race along with Mario and his friends in fi...,91.0,"[{'metascore': 91, 'url': 'https://www.metacri...",2005-11-14,False,2023-01-30T11:44:23,...,"[{'platform': {'id': 10, 'name': 'Wii U', 'slu...","[{'id': 28156, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 1, 'name': 'Racing', 'slug': 'racing',...","[{'id': 115, 'name': 'Controller', 'slug': 'co...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,Race along with Mario and his friends in five ...,NaN
9,25482,wii-fit,Wii Fit,Wii Fit,<ul>\n<li>\n<p>Control on-screen action with y...,80.0,"[{'metascore': 80, 'url': 'https://www.metacri...",2008-05-21,False,2023-02-09T02:30:13,...,"[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 29916, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,* Control on-screen action with your movements...,NaN

In [4]:
rawg_json_data_self_slug.head(10)

,id,slug,name,name_original,description,metacritic,metacritic_platforms,released,tba,updated,...,stores,developers,genres,tags,publishers,esrb_rating,clip,description_raw,redirect,community_rating
0,5731.0,tetris,TETRIS,TETRIS,<p>Read on for important info below!<br />\nDo...,65.0,"[{'metascore': 65, 'url': 'https://www.metacri...",2011-12-01,0.0,2022-12-07T21:32:22,...,"[{'id': 6124, 'url': '', 'store': {'id': 4, 'n...","[{'id': 109, 'name': 'Electronic Arts', 'slug'...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 413, 'name': 'online', 'slug': 'online...","[{'id': 354, 'name': 'Electronic Arts', 'slug'...","{'id': 2, 'name': 'Everyone 10+', 'slug': 'eve...",NaN,Read on for important info below!\nDon’t miss ...,NaN,NaN
1,3498.0,grand-theft-auto-v,Grand Theft Auto V,Grand Theft Auto V,"<p>Rockstar Games went bigger, since their pre...",92.0,"[{'metascore': 96, 'url': 'https://www.metacri...",2013-09-17,0.0,2023-02-25T00:20:25,...,"[{'id': 290375, 'url': '', 'store': {'id': 3, ...","[{'id': 3524, 'name': 'Rockstar North', 'slug'...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 2155, 'name': 'Rockstar Games', 'slug'...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}",NaN,"Rockstar Games went bigger, since their previo...",NaN,NaN
2,24934.0,brain-age-train-your-brain-in-minutes-a-day,Brain Age: Train Your Brain in Minutes a Day!,Brain Age: Train Your Brain in Minutes a Day!,<p>\n Brain Age: Train Your Brain in Minu...,NaN,[],2006-04-17,0.0,2019-07-21T01:11:05,...,"[{'id': 29309, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...",[],"[{'id': 614, 'name': 'edutainment', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,Brain Age: Train Your Brain in Minutes a Day i...,NaN,NaN
3,NaN,cod-black-ops-iii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,NaN,cod-black-ops-ii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
5,432.0,grand-theft-auto-iii,Grand Theft Auto III,Grand Theft Auto III,<p>Grand Theft Auto III is an open-world actio...,93.0,[],2001-10-22,0.0,2023-02-24T20:50:17,...,"[{'id': 3157, 'url': '', 'store': {'id': 3, 'n...","[{'id': 3524, 'name': 'Rockstar North', 'slug'...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 2150, 'name': 'Capcom', 'slug': 'capco...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}",NaN,Grand Theft Auto III is an open-world action g...,NaN,NaN
6,4459.0,grand-theft-auto-iv,Grand Theft Auto IV,Grand Theft Auto IV,<p>Every crime story is a story of a search fo...,95.0,"[{'metascore': 98, 'url': 'https://www.metacri...",2008-04-29,0.0,2023-02-25T09:45:57,...,"[{'id': 4787, 'url': '', 'store': {'id': 3, 'n...","[{'id': 3524, 'name': 'Rockstar North', 'slug'...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 2150, 'name': 'Capcom', 'slug': 'capco...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}",NaN,Every crime story is a story of a search for s...,NaN,NaN
7,52939.0,final-fantasy-vii,Final Fantasy VII (1997),Final Fantasy VII (1997),<p>Final Fantasy VII is a Japanese role-playin...,83.0,"[{'metascore': 81, 'url': 'https://www.metacri...",1997-01-31,0.0,2023-02-23T10:47:47,...,"[{'id': 233471, 'url': '', 'store': {'id': 3, ...","[{'id': 4132, 'name': 'Square Enix', 'slug': '...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 308, 'name': 'Square Enix', 'slug': 's...","{'id': 3, 'name': 'Teen', 'slug': 'teen'}",NaN,Final Fantasy VII is a Japanese role-playing g...,NaN,NaN
8,5679.0,the-elder-scrolls-v-skyrim,The Elder Scrolls V: Skyrim,The Elder Scrolls V: Skyrim,"<p>The fifth game in the series, Skyrim takes ...",94.0,"[{'metascore': 96, 'url': 'https://www.metacri...",2011-11-11,0.0,2023-02-25T06:37:22,...,"[{'id': 6037, 'url': '', 'store': {'id': 3, 'n...","[{'id': 4, 'name': 'Bethesda Softworks', 'slug...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 339, 'name': 'Bethesda Softworks', 'sl...","{'id': 4, 'name': 'Mature', 'slug': 'mature'}",NaN,"The fifth game in the series, Skyrim takes us ...",NaN,NaN
9,NaN,ea-sports-fifa-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [5]:
frames = [rawg_json_data_slug, rawg_json_data_self_slug]
df_rawg_combined = pd.concat(frames)

In [6]:
df_rawg_combined.head(10)

,id,slug,name,name_original,description,metacritic,metacritic_platforms,released,tba,updated,...,stores,developers,genres,tags,publishers,esrb_rating,clip,description_raw,community_rating,redirect
0,25057.0,wii-sports,Wii Sports,Wii Sports,<p>This is what video games should be: fun for...,76.0,"[{'metascore': 76, 'url': 'https://www.metacri...",2006-11-19,False,2023-02-19T20:34:26,...,"[{'id': 29436, 'url': '', 'store': {'id': 6, '...",[],"[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,This is what video games should be: fun for ev...,NaN,NaN
1,25080.0,super-mario-bros,Super Mario Bros.,Super Mario Bros.,<p>Mario and Luigi star in their first ever Mu...,NaN,[],1985-09-13,False,2023-02-24T18:30:20,...,"[{'id': 29465, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,Mario and Luigi star in their first ever Mushr...,NaN,NaN
2,24761.0,mario-kart-wii,Mario Kart Wii,Mario Kart Wii,,82.0,"[{'metascore': 82, 'url': 'https://www.metacri...",2008-04-27,False,2023-02-11T10:20:31,...,"[{'id': 29113, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 1, 'name': 'Racing', 'slug': 'racing',...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,"Drivers, start your engines!\n\nThe worldwide ...",NaN,NaN
3,26002.0,wii-sports-resort,Wii Sports Resort,Wii Sports Resort,"<p>Wii Sports Resort is an immersive, expansiv...",80.0,"[{'metascore': 80, 'url': 'https://www.metacri...",2009-07-26,False,2023-01-15T19:04:16,...,"[{'id': 30486, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,"Wii Sports Resort is an immersive, expansive a...",NaN,NaN
4,24933.0,new-super-mario-bros,New Super Mario Bros.,New Super Mario Bros.,<p>Princess Peach™ has been kidnapped by Bowse...,89.0,"[{'metascore': 89, 'url': 'https://www.metacri...",2006-05-15,False,2023-02-11T10:18:03,...,"[{'id': 29308, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 5816, 'name': 'console', 'slug': 'cons...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",None,NaN,Princess Peach™ has been kidnapped by Bowser J...,NaN,NaN
5,24901.0,wii-play,Wii Play,Wii Play,"<p>Bundled with a Wii Remote, Wii Play offers ...",58.0,"[{'metascore': 58, 'url': 'https://www.metacri...",2007-02-12,False,2023-02-19T20:34:31,...,"[{'id': 29272, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 19, 'name': 'Family', 'slug': 'family'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,"Bundled with a Wii Remote, Wii Play offers a l...",NaN,NaN
6,24493.0,new-super-mario-bros-wii,New Super Mario Bros. Wii,New Super Mario Bros. Wii,<p>Run and jump to your way to fun with Mario™...,87.0,"[{'metascore': 87, 'url': 'https://www.metacri...",2009-11-12,False,2023-02-19T20:35:09,...,"[{'id': 28817, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 83, 'name': 'Platformer', 'slug': 'pla...","[{'id': 7, 'name': 'Multiplayer', 'slug': 'mul...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,Run and jump to your way to fun with Mario™ & ...,NaN,NaN
7,286110.0,duck-hunt,Duck Hunt,Duck Hunt,Information\r\n<p>I made this game a while bac...,NaN,[],2019-01-20,False,2019-08-28T23:18:26,...,"[{'id': 285089, 'url': '', 'store': {'id': 9, ...","[{'id': 113115, 'name': 'Optical Raze', 'slug'...","[{'id': 2, 'name': 'Shooter', 'slug': 'shooter...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...",[],None,NaN,Information\nI made this game a while back and...,0.0,NaN
8,23943.0,mario-kart-ds,Mario Kart DS,Mario Kart DS,<p>Race along with Mario and his friends in fi...,91.0,"[{'metascore': 91, 'url': 'https://www.metacri...",2005-11-14,False,2023-01-30T11:44:23,...,"[{'id': 28156, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 1, 'name': 'Racing', 'slug': 'racing',...","[{'id': 115, 'name': 'Controller', 'slug': 'co...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,Race along with Mario and his friends in five ...,NaN,NaN
9,25482.0,wii-fit,Wii Fit,Wii Fit,<ul>\n<li>\n<p>Control on-screen action with y...,80.0,"[{'metascore': 80, 'url': 'https://www.metacri...",2008-05-21,False,2023-02-09T02:30:13,...,"[{'id': 29916, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","{'id': 1, 'name': 'Everyone', 'slug': 'everyone'}",NaN,* Control on-screen action with your movements...,NaN,NaN

In [7]:
print(len(df_rawg_combined))

7644

In [8]:
df_rawg_combined.isna().sum()

id                              332
slug                              0
name                            332
name_original                   332
description                     332
metacritic                     5598
metacritic_platforms            332
released                        674
tba                             332
updated                         332
background_image               1441
background_image_additional    1601
website                         332
rating                          332
rating_top                      332
ratings                         332
reactions                      4832
added                           332
added_by_status                 857
playtime                        332
screenshots_count               332
movies_count                    332
creators_count                  332
achievements_count              332
parent_achievements_count       332
reddit_url                      332
reddit_name                     332
reddit_description              332
reddit_logo                     332
reddit_count                    332
twitch_count                    332
youtube_count                   332
reviews_text_count              332
ratings_count                   332
suggestions_count               332
alternative_names               332
metacritic_url                  332
parents_count                   332
additions_count                 332
game_series_count               332
user_game                      7644
reviews_count                   332
saturated_color                 332
dominant_color                  332
parent_platforms                332
platforms                       332
stores                          332
developers                      332
genres                          332
tags                            332
publishers                      332
esrb_rating                    4791
clip                           7644
description_raw                 332
community_rating               3491
redirect                       7312
dtype: int64

In [9]:
#df.drop(['A'], axis=1)

df_rawg_combined.drop(['metacritic'], axis=1, inplace = True)
df_rawg_combined.drop(['background_image'], axis=1, inplace = True)
df_rawg_combined.drop(['background_image_additional'], axis=1, inplace = True)
df_rawg_combined.drop(['reactions'], axis=1, inplace = True)
df_rawg_combined.drop(['user_game'], axis=1, inplace = True)
df_rawg_combined.drop(['esrb_rating'], axis=1, inplace = True)
df_rawg_combined.drop(['clip'], axis=1, inplace = True)
df_rawg_combined.drop(['community_rating'], axis=1, inplace = True)
df_rawg_combined.drop(['redirect'], axis=1, inplace = True)

In [10]:
df_rawg_combined.isna().sum()

id                           332
slug                           0
name                         332
name_original                332
description                  332
metacritic_platforms         332
released                     674
tba                          332
updated                      332
website                      332
rating                       332
rating_top                   332
ratings                      332
added                        332
added_by_status              857
playtime                     332
screenshots_count            332
movies_count                 332
creators_count               332
achievements_count           332
parent_achievements_count    332
reddit_url                   332
reddit_name                  332
reddit_description           332
reddit_logo                  332
reddit_count                 332
twitch_count                 332
youtube_count                332
reviews_text_count           332
ratings_count                332
suggestions_count            332
alternative_names            332
metacritic_url               332
parents_count                332
additions_count              332
game_series_count            332
reviews_count                332
saturated_color              332
dominant_color               332
parent_platforms             332
platforms                    332
stores                       332
developers                   332
genres                       332
tags                         332
publishers                   332
description_raw              332
dtype: int64

In [11]:
df_rawg_combined = df_rawg_combined.dropna()

In [12]:
len(df_rawg_combined)

6525

In [ ]:
df_newer_games['Name'].nunique()

11562

In [ ]:
df_newer_games.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [ ]:
df_newer_games.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [ ]:
df_newer_games.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(df_games_igdb)

8833

In [ ]:
df_games_igdb['name'].nunique()

7505

In [ ]:
df_games_igdb.describe()

,id,aggregated_rating,aggregated_rating_count,total_rating,total_rating_count,hypes
count,8833.00000,3676.000000,3676.000000,4719.000000,4719.000000,329.000000
mean,50387.04619,67.982551,4.275571,68.231366,54.276542,8.009119
std,65671.35753,16.100312,4.389283,14.388640,176.462726,22.373150
min,3.00000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,5239.00000,60.000000,2.000000,60.000000,3.000000,1.000000
50%,20456.00000,70.000000,3.000000,70.391685,10.000000,2.000000
75%,66733.00000,80.000000,5.000000,78.968056,32.500000,5.000000
max,238609.00000,100.000000,43.000000,100.000000,3778.000000,226.000000

In [ ]:
df_games_igdb.isna().sum()

id                            0
game_modes                 2360
genres                     1012
name                          0
player_perspectives        3240
summary                     767
themes                     2814
videos                     5431
aggregated_rating          5157
aggregated_rating_count    5157
total_rating               4114
total_rating_count         4114
storyline                  7387
hypes                      8504
dtype: int64

In [ ]:
df_games_igdb.head()

,id,game_modes,genres,name,player_perspectives,summary,themes,videos,aggregated_rating,aggregated_rating_count,total_rating,total_rating_count,storyline,hypes
0,203104,[1],[9],Tetris,[4],Tetris for Famicom is a port of the Japanese h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203117,[1],[9],Tetris,[4],Tetris is a licensed Tetris game for Fifth-Gen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,131503,[1],[9],Tetris,[4],A tile-matching puzzle video game. The goal is...,[40],[35504],NaN,NaN,NaN,NaN,NaN,NaN
3,203110,[1],[9],Tetris,[4],Tetris for Fujitsu OASYS series word processor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203109,[1],[9],Tetris,[4],Tetris is a game for the Sharp Wizard or Elect...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(df_video_ids)

5135

In [ ]:
df_video_ids['name'].nunique()

343

In [ ]:
df_video_ids.describe()

                 id           game
count   5135.000000    5135.000000
mean   27561.694839   25431.103992
std    24277.609255   44793.995400
min       12.000000       3.000000
25%     6106.000000    2686.000000
50%    19428.000000    7390.000000
75%    44764.500000   21015.000000
max    84524.000000  238609.000000

In [ ]:
df_video_ids.isna().sum()

id           0
game         0
name        35
video_id     0
checksum     0
dtype: int64

In [ ]:
df_video_ids.head()

,id,game,name,video_id,checksum
0,35504,131503,Gameplay Video,KoCFToFstSY,cfebfc9d-7c09-cf8d-cf93-aeacb0ad8417
1,49958,150031,Gameplay Video,MsGO5lobqAk,cc8cc320-af31-c2a7-4cc7-b3b00fb7cfcb
2,1420,1020,Gameplay video,N-xHcvug3WI,78730f2e-fdfd-fc29-46c7-2a9e00c0cadf
3,12259,2345,Trailer,3Bx9WtQ5EMg,2c737ba5-0836-1717-a9e5-1b7b13611b25
4,20256,1068,Trailer,HU80R7jGanE,ad74f145-73d2-ac03-eeda-83df3cac9732

In [13]:
df_games_igdb = df_games_igdb.drop_duplicates(subset=["name"], keep='first')
len(df_games_igdb)

7505

In [14]:
df_new_combined = pd.merge(df_newer_games, df_games_igdb, how = 'inner', left_on = "Name", right_on = "name")

df_new_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11314 entries, 0 to 11313
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     11314 non-null  object
 1   Platform                 11314 non-null  object
 2   Year_of_Release          11110 non-null  float64
 3   Genre                    11314 non-null  object
 4   Publisher                11299 non-null  object
 5   NA_Sales                 11314 non-null  float64
 6   EU_Sales                 11314 non-null  float64
 7   JP_Sales                 11314 non-null  float64
 8   Other_Sales              11314 non-null  float64
 9   Global_Sales             11314 non-null  float64
 10  Critic_Score             6516 non-null   float64
 11  Critic_Count             6516 non-null   float64
 12  User_Score               7902 non-null   object
 13  User_Count               6019 non-null   float64
 14  Developer                7962 non-null   object
 15  Rating                   7849 non-null   object
 16  id                       11314 non-null  int64
 17  game_modes               8751 non-null   object
 18  genres                   10242 non-null  object
 19  name                     11314 non-null  object
 20  player_perspectives      7595 non-null   object
 21  summary                  10481 non-null  object
 22  themes                   7810 non-null   object
 23  videos                   4748 non-null   object
 24  aggregated_rating        5733 non-null   float64
 25  aggregated_rating_count  5733 non-null   float64
 26  total_rating             6969 non-null   float64
 27  total_rating_count       6969 non-null   float64
 28  storyline                1845 non-null   object
 29  hypes                    622 non-null    float64
dtypes: float64(14), int64(1), object(15)
memory usage: 2.7+ MB

In [ ]:
len(df_new_combined)

11314

In [ ]:
df_new_combined.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count,id,aggregated_rating,aggregated_rating_count,total_rating,total_rating_count,hypes
count,11110.000000,11314.000000,11314.000000,11314.000000,11314.000000,11314.000000,6516.000000,6516.000000,6019.000000,11314.000000,5733.000000,5733.000000,6969.000000,6969.000000,622.000000
mean,2006.148065,0.270353,0.141908,0.063767,0.047165,0.523503,68.724217,25.982198,147.889517,42040.930882,68.451174,5.338217,68.270873,69.653322,9.827974
std,5.946618,0.703543,0.405957,0.252664,0.181982,1.254269,14.052546,18.597617,531.912144,61719.197743,15.827582,5.251145,14.142943,224.267276,24.603608
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,17.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2003.000000,0.020000,0.000000,0.000000,0.000000,0.070000,60.000000,11.000000,10.000000,4578.000000,60.000000,2.000000,60.000000,3.000000,1.000000
50%,2007.000000,0.090000,0.030000,0.000000,0.010000,0.180000,70.000000,21.000000,23.000000,11075.000000,70.500000,4.000000,70.615200,12.000000,2.000000
75%,2010.000000,0.250000,0.110000,0.020000,0.040000,0.490000,79.000000,36.000000,74.500000,49713.000000,80.000000,7.000000,78.602052,41.000000,6.000000
max,2020.000000,26.930000,9.090000,5.330000,10.570000,30.260000,98.000000,113.000000,10665.000000,238608.000000,100.000000,43.000000,100.000000,3778.000000,226.000000

In [ ]:
df_new_combined.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,player_perspectives,summary,themes,videos,aggregated_rating,aggregated_rating_count,total_rating,total_rating_count,storyline,hypes
0,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,...,[4],Tetris for Famicom is a port of the Japanese h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tetris,NES,1988.0,Puzzle,Nintendo,2.97,0.69,1.81,0.11,5.58,...,[4],Tetris for Famicom is a port of the Japanese h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,...,[1],An early first-person shooting arcade game rel...,[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.71,7.47,4.13,1.90,23.21,...,[2],Mario Kart DS is the continuation of the long ...,"[35, 40]","[12259, 12260]",90.0,2.0,85.374547,289.0,NaN,NaN
4,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,...,"[1, 2]",is an exercise game consisting of activities u...,[34],[1281],73.5,5.0,67.735507,48.0,NaN,NaN

In [ ]:
df_new_combined.isna().sum()

Name                           0
Platform                       0
Year_of_Release              204
Genre                          0
Publisher                     15
NA_Sales                       0
EU_Sales                       0
JP_Sales                       0
Other_Sales                    0
Global_Sales                   0
Critic_Score                4798
Critic_Count                4798
User_Score                  3412
User_Count                  5295
Developer                   3352
Rating                      3465
id                             0
game_modes                  2563
genres                      1072
name                           0
player_perspectives         3719
summary                      833
themes                      3504
videos                      6566
aggregated_rating           5581
aggregated_rating_count     5581
total_rating                4345
total_rating_count          4345
storyline                   9469
hypes                      10692
dtype: int64

In [15]:
df_new_combined.drop('hypes', axis=1, inplace = True)
df_new_combined.drop('storyline', axis=1, inplace = True)
df_new_combined.drop('videos', axis=1, inplace = True)
df_new_combined.drop('name', axis=1, inplace = True)

In [ ]:
mask = df_newer_games.notnull()
  
tmp = df_newer_games.where(mask).dropna()
tmp.loc[0]
tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6825 non-null   object
 1   Platform         6825 non-null   object
 2   Year_of_Release  6825 non-null   float64
 3   Genre            6825 non-null   object
 4   Publisher        6825 non-null   object
 5   NA_Sales         6825 non-null   float64
 6   EU_Sales         6825 non-null   float64
 7   JP_Sales         6825 non-null   float64
 8   Other_Sales      6825 non-null   float64
 9   Global_Sales     6825 non-null   float64
 10  Critic_Score     6825 non-null   float64
 11  Critic_Count     6825 non-null   float64
 12  User_Score       6825 non-null   object
 13  User_Count       6825 non-null   float64
 14  Developer        6825 non-null   object
 15  Rating           6825 non-null   object
dtypes: float64(9), object(7)
memory usage: 1.1+ MB

In [ ]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6825 non-null   object
 1   Platform         6825 non-null   object
 2   Year_of_Release  6825 non-null   float64
 3   Genre            6825 non-null   object
 4   Publisher        6825 non-null   object
 5   NA_Sales         6825 non-null   float64
 6   EU_Sales         6825 non-null   float64
 7   JP_Sales         6825 non-null   float64
 8   Other_Sales      6825 non-null   float64
 9   Global_Sales     6825 non-null   float64
 10  Critic_Score     6825 non-null   float64
 11  Critic_Count     6825 non-null   float64
 12  User_Score       6825 non-null   object
 13  User_Count       6825 non-null   float64
 14  Developer        6825 non-null   object
 15  Rating           6825 non-null   object
dtypes: float64(9), object(7)
memory usage: 1.1+ MB

In [ ]:
tmp.drop(["Name"], axis = 1, inplace = True)
tmp["User_Score"] = tmp["User_Score"].astype(float)

tmp['Platform'] = tmp['Platform'].astype('category').cat.codes
tmp['Genre'] = tmp['Genre'].astype('category').cat.codes
tmp['Publisher'] = tmp['Publisher'].astype('category').cat.codes
tmp['Developer'] = tmp['Developer'].astype('category').cat.codes
tmp['Rating'] = tmp['Rating'].astype('category').cat.codes

tmp['User_Score'] = tmp['User_Score'].apply(np.ceil)
tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 0 to 16706
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         6825 non-null   int8
 1   Year_of_Release  6825 non-null   float64
 2   Genre            6825 non-null   int8
 3   Publisher        6825 non-null   int16
 4   NA_Sales         6825 non-null   float64
 5   EU_Sales         6825 non-null   float64
 6   JP_Sales         6825 non-null   float64
 7   Other_Sales      6825 non-null   float64
 8   Global_Sales     6825 non-null   float64
 9   Critic_Score     6825 non-null   float64
 10  Critic_Count     6825 non-null   float64
 11  User_Score       6825 non-null   float64
 12  User_Count       6825 non-null   float64
 13  Developer        6825 non-null   int16
 14  Rating           6825 non-null   int8
dtypes: float64(10), int16(2), int8(3)
memory usage: 891.2 KB

In [ ]:
tmp.head()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,12,2006.0,10,160,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,771,1
2,12,2008.0,6,160,15.68,12.76,3.79,3.29,35.52,82.0,73.0,9.0,709.0,771,1
3,12,2009.0,10,160,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,771,1
6,2,2006.0,4,160,11.28,9.14,6.50,2.88,29.80,89.0,65.0,9.0,431.0,771,1
7,12,2006.0,3,160,13.96,9.18,2.93,2.84,28.92,58.0,41.0,7.0,129.0,771,1

In [ ]:
tmp.tail()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16667,3,2001.0,0,158,0.01,0.00,0.0,0.0,0.01,46.0,4.0,3.0,21.0,411,1
16677,3,2002.0,2,146,0.01,0.00,0.0,0.0,0.01,81.0,12.0,9.0,9.0,260,4
16696,5,2014.0,0,123,0.00,0.01,0.0,0.0,0.01,80.0,20.0,8.0,412.0,617,4
16700,5,2011.0,8,53,0.01,0.00,0.0,0.0,0.01,61.0,12.0,6.0,43.0,99,6
16706,5,2011.0,11,240,0.00,0.01,0.0,0.0,0.01,60.0,12.0,8.0,13.0,1011,2

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor

training, test = train_test_split(tmp, test_size = 0.25, random_state = 32)

features = training.drop(['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], axis = 1).columns
print(features)

Index(['Platform', 'Year_of_Release', 'Genre', 'Publisher', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [ ]:
training_features, training_labels = training[features], training['NA_Sales']
test_features, test_labels = test[features], test['NA_Sales']

pipeline = Pipeline([('scaler', MinMaxScaler()), ('regressor', XGBRegressor())])
pipeline.fit(training_features, training_labels)

r2 = pipeline.score(test_features, test_labels)
print(f'Score {r2}')

[17:45:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Score 0.39844316630438426

In [ ]:
from sklearn import svm
tmp['User_Score'] = tmp['User_Score'].astype(float)
tmp['User_Score'] = np.where(tmp['User_Score'] <=3.5, 0, tmp['User_Score'])
tmp['User_Score'] = np.where((3.5 < tmp['User_Score']) & ( tmp['User_Score'] <=7.5), 1 ,tmp['User_Score'])
tmp['User_Score'] = np.where(7.5 < tmp['User_Score'] , 2 ,tmp['User_Score'])
tmp['User_Score'] = tmp['User_Score'].astype('category').cat.codes
training, test = train_test_split(tmp, test_size = 0.25, random_state = 32)
features = training.drop(['User_Score'], axis = 1).columns

training_features, training_labels = training[features], training['User_Score']
test_features, test_labels = test[features], test['User_Score']

training_features.head()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count,Developer,Rating
13291,6,1998.0,4,59,0.03,0.02,0.00,0.00,0.05,69.0,8.0,4.0,1163,1
2420,6,2001.0,6,62,0.48,0.33,0.00,0.06,0.86,53.0,4.0,4.0,1152,1
469,9,2013.0,10,61,0.61,1.85,0.11,0.44,3.01,87.0,26.0,616.0,328,1
9229,14,2007.0,9,237,0.11,0.02,0.00,0.01,0.14,72.0,24.0,12.0,1196,6
13817,5,2011.0,11,240,0.00,0.03,0.00,0.01,0.04,68.0,19.0,35.0,126,6

In [ ]:
training_labels.head()

13291    2
2420     1
469      1
9229     2
13817    1
Name: User_Score, dtype: int8

In [ ]:
training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5118 entries, 13291 to 4636
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         5118 non-null   int8
 1   Year_of_Release  5118 non-null   float64
 2   Genre            5118 non-null   int8
 3   Publisher        5118 non-null   int16
 4   NA_Sales         5118 non-null   float64
 5   EU_Sales         5118 non-null   float64
 6   JP_Sales         5118 non-null   float64
 7   Other_Sales      5118 non-null   float64
 8   Global_Sales     5118 non-null   float64
 9   Critic_Score     5118 non-null   float64
 10  Critic_Count     5118 non-null   float64
 11  User_Score       5118 non-null   int8
 12  User_Count       5118 non-null   float64
 13  Developer        5118 non-null   int16
 14  Rating           5118 non-null   int8
dtypes: float64(9), int16(2), int8(4)
memory usage: 439.8 KB

In [ ]:
from sklearn import preprocessing
clf_svm = svm.SVC(kernel='rbf')
scaler = preprocessing.StandardScaler().fit(training[features])
features_nomalizovane = scaler.transform(training[features])
clf_svm.fit(features_nomalizovane, training_labels)

clf_svm.predict(scaler.transform([test[features].iloc[0]]))

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([1], dtype=int8)

In [ ]:
clf_svm.score(scaler.transform(test[features]), test_labels)

0.7516110134739309

In [ ]:
from sklearn.metrics import f1_score

svm_predictions = clf_svm.predict(scaler.transform(test[features]))
f1_score(test_labels, svm_predictions, average=None)

array([0.        , 0.625     , 0.82384106])

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(test_labels,svm_predictions))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        29
           1       0.67      0.58      0.63       599
           2       0.79      0.86      0.82      1079

    accuracy                           0.75      1707
   macro avg       0.49      0.48      0.48      1707
weighted avg       0.73      0.75      0.74      1707

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [19]:
#df_rawg_combined
#tmp
mask = df_new_combined.notnull()
tmp_new = df_new_combined.where(mask).dropna()
#po name


df_new_combined_rawg = pd.merge(df_rawg_combined, tmp_new, how = 'inner', left_on = "name_original", right_on = "Name")

In [20]:
df_new_combined_rawg.head(5)

,id_x,slug,name,name_original,description,metacritic_platforms,released,tba,updated,website,...,id_y,game_modes,genres_y,player_perspectives,summary,themes,aggregated_rating,aggregated_rating_count,total_rating,total_rating_count
0,23943.0,mario-kart-ds,Mario Kart DS,Mario Kart DS,<p>Race along with Mario and his friends in fi...,"[{'metascore': 91, 'url': 'https://www.metacri...",2005-11-14,False,2023-01-30T11:44:23,,...,2345,"[1, 2]",[10],[2],Mario Kart DS is the continuation of the long ...,"[35, 40]",90.000000,2.0,85.374547,289.0
1,25482.0,wii-fit,Wii Fit,Wii Fit,<ul>\n<li>\n<p>Control on-screen action with y...,"[{'metascore': 80, 'url': 'https://www.metacri...",2008-05-21,False,2023-02-09T02:30:13,http://www.nintendo.com/wiifit/en/#/home/,...,2186,[1],"[13, 14]","[1, 2]",is an exercise game consisting of activities u...,[34],73.500000,5.0,67.735507,48.0
2,416.0,grand-theft-auto-san-andreas,Grand Theft Auto: San Andreas,Grand Theft Auto: San Andreas,<p>Grand Theft Auto - San Andreas is the seven...,[],2004-10-26,False,2023-02-24T18:21:07,http://www.rockstargames.com/sanandreas/pc,...,732,"[1, 3]","[5, 10, 31]","[1, 2]",Returning after his mother's murder to the sem...,"[1, 32, 38]",93.142857,7.0,91.902352,2520.0
3,416.0,grand-theft-auto-san-andreas,Grand Theft Auto: San Andreas,Grand Theft Auto: San Andreas,<p>Grand Theft Auto - San Andreas is the seven...,[],2004-10-26,False,2023-02-24T18:21:07,http://www.rockstargames.com/sanandreas/pc,...,732,"[1, 3]","[5, 10, 31]","[1, 2]",Returning after his mother's murder to the sem...,"[1, 32, 38]",93.142857,7.0,91.902352,2520.0
4,416.0,grand-theft-auto-san-andreas,Grand Theft Auto: San Andreas,Grand Theft Auto: San Andreas,<p>Grand Theft Auto - San Andreas is the seven...,[],2004-10-26,False,2023-02-24T18:21:07,http://www.rockstargames.com/sanandreas/pc,...,732,"[1, 3]","[5, 10, 31]","[1, 2]",Returning after his mother's murder to the sem...,"[1, 32, 38]",93.142857,7.0,91.902352,2520.0

In [21]:
print(len(df_new_combined_rawg))

2235

In [22]:
print(len(rawg_json_data_self_slug))

1774

In [27]:
#df_newer_games df_rawg_combined
df = pd.merge(df_newer_games, df_rawg_combined, how = 'inner', left_on = "Name", right_on = "name")

In [28]:
df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,saturated_color,dominant_color,parent_platforms,platforms,stores,developers,genres,tags,publishers,description_raw
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,...,0f0f0f,0f0f0f,"[{'platform': {'id': 7, 'name': 'Nintendo', 's...","[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 29436, 'url': '', 'store': {'id': 6, '...",[],"[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",This is what video games should be: fun for ev...
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,...,0f0f0f,0f0f0f,"[{'platform': {'id': 7, 'name': 'Nintendo', 's...","[{'platform': {'id': 24, 'name': 'Game Boy Adv...","[{'id': 29465, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",Mario and Luigi star in their first ever Mushr...
2,Super Mario Bros.,GB,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07,...,0f0f0f,0f0f0f,"[{'platform': {'id': 7, 'name': 'Nintendo', 's...","[{'platform': {'id': 24, 'name': 'Game Boy Adv...","[{'id': 29465, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 4, 'name': 'Action', 'slug': 'action',...","[{'id': 31, 'name': 'Singleplayer', 'slug': 's...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...",Mario and Luigi star in their first ever Mushr...
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,...,0f0f0f,0f0f0f,"[{'platform': {'id': 7, 'name': 'Nintendo', 's...","[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 29113, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 1, 'name': 'Racing', 'slug': 'racing',...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","Drivers, start your engines!\n\nThe worldwide ..."
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,...,0f0f0f,0f0f0f,"[{'platform': {'id': 7, 'name': 'Nintendo', 's...","[{'platform': {'id': 11, 'name': 'Wii', 'slug'...","[{'id': 30486, 'url': '', 'store': {'id': 6, '...","[{'id': 16257, 'name': 'Nintendo', 'slug': 'ni...","[{'id': 15, 'name': 'Sports', 'slug': 'sports'...","[{'id': 37796, 'name': 'exclusive', 'slug': 'e...","[{'id': 10681, 'name': 'Nintendo', 'slug': 'ni...","Wii Sports Resort is an immersive, expansive a..."

In [29]:
print(len(df))

8897

In [33]:
df_newer_games.isna().sum()
df_newer_games.drop(["Critic_Score"], axis = 1, inplace = True)
df_newer_games.drop(["Critic_Count"], axis = 1, inplace = True)
df_newer_games.drop(["User_Score"], axis = 1, inplace = True)
df_newer_games.drop(["User_Count"], axis = 1, inplace = True)
df_newer_games.drop(["Developer"], axis = 1, inplace = True)
df_newer_games.drop(["Rating"], axis = 1, inplace = True)

In [44]:
print(len(df_newer_games))

16719

In [34]:
df = pd.merge(df_newer_games, df_rawg_combined, how = 'inner', left_on = "Name", right_on = "name")

In [35]:
len(df)

8897

In [37]:
df = df.dropna()

In [45]:
len(df.columns)

57

In [47]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'id', 'slug',
       'name', 'name_original', 'description', 'metacritic_platforms',
       'released', 'tba', 'updated', 'website', 'rating', 'rating_top',
       'ratings', 'added', 'added_by_status', 'playtime', 'screenshots_count',
       'movies_count', 'creators_count', 'achievements_count',
       'parent_achievements_count', 'reddit_url', 'reddit_name',
       'reddit_description', 'reddit_logo', 'reddit_count', 'twitch_count',
       'youtube_count', 'reviews_text_count', 'ratings_count',
       'suggestions_count', 'alternative_names', 'metacritic_url',
       'parents_count', 'additions_count', 'game_series_count',
       'reviews_count', 'saturated_color', 'dominant_color',
       'parent_platforms', 'platforms', 'stores', 'developers', 'genres',
       'tags', 'publishers', 'description_raw'],
      dtype='object')

In [41]:
print(df['name'].nunique())

5382

In [42]:
print(df['Name'].nunique())

5382

In [48]:
df.to_json('/content/df_new_combined.json')