In [6]:
import pandas as pd

pd.set_option("max_rows", None)

df_newer_games = pd.read_csv('/content/Video_Games_newer_all_data.csv')
df_games_igdb = pd.read_json('/content/igdb_games_data.json')
df_video_ids = pd.read_json('/content/igdb_games_video_data.json')

df_newer_games.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_games_igdb.head()

,id,game_modes,genres,name,player_perspectives,summary,themes,videos,aggregated_rating,aggregated_rating_count,total_rating,total_rating_count,storyline,hypes
0,203104,[1],[9],Tetris,[4],Tetris for Famicom is a port of the Japanese h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203117,[1],[9],Tetris,[4],Tetris is a licensed Tetris game for Fifth-Gen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,131503,[1],[9],Tetris,[4],A tile-matching puzzle video game. The goal is...,[40],[35504],NaN,NaN,NaN,NaN,NaN,NaN
3,203110,[1],[9],Tetris,[4],Tetris for Fujitsu OASYS series word processor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,203109,[1],[9],Tetris,[4],Tetris is a game for the Sharp Wizard or Elect...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_video_ids.head()

,id,game,name,video_id,checksum
0,35504,131503,Gameplay Video,KoCFToFstSY,cfebfc9d-7c09-cf8d-cf93-aeacb0ad8417
1,49958,150031,Gameplay Video,MsGO5lobqAk,cc8cc320-af31-c2a7-4cc7-b3b00fb7cfcb
2,1420,1020,Gameplay video,N-xHcvug3WI,78730f2e-fdfd-fc29-46c7-2a9e00c0cadf
3,12259,2345,Trailer,3Bx9WtQ5EMg,2c737ba5-0836-1717-a9e5-1b7b13611b25
4,20256,1068,Trailer,HU80R7jGanE,ad74f145-73d2-ac03-eeda-83df3cac9732